@import url(./root.css);

/*---Reset CSS---*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

a, 
a:focus,
a:active  {
    text-decoration: none;
    color: var(--mediumGray);
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}


/*-------------------------------------------------------*/




body{
    font-family: 'Epilogue', sans-serif;
    height: 100vh;
    background-color: var(--almostWhite);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

.logo{
    margin-top: 0.8rem;
    margin-right: 3rem;
    padding: 0;
}

.logo img {
    width: 90px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.logo img:hover {
    scale: 1.2;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
}

.items{
    display: flex;
    justify-content: flex-start;
    margin-right: 2.5rem;
    color: var(--mediumGray);
    align-items: center;
    font-weight: 500;
    line-height: 16px;
}

.items a{
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.items a:hover {
    color: var(--black);
    scale: 1.1;
}

#features,
#company {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

#features .arrow,
#company .arrow{
    margin-left: 0.3rem;
    margin-bottom: 0.05rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#features:hover .arrow,
#company:hover .arrow{
    transform: rotate(180deg);
}

/*--Login & registration section--*/

.sign__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login {
    font-size: 1rem;
    font-weight: 500;
    margin-right: 1.5rem;
    color: var(--mediumGray);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.login:hover {
    scale: 1.1;
    color: var(--black);
    cursor: pointer;
}

.sign__btn button {
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid var(--mediumGray);
    padding: 0.7rem;
    color: var(--mediumGray);
    font-weight: 500;
    font-size: 1rem;
    width: 104px;
    margin-bottom: 0.2rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sign__btn button:hover {
    color: var(--almostWhite);
    border: 1px solid var(--black);
    background-color: var(--black);
    cursor: pointer;
    scale: 1.1;
}


/*--special links section--*/


.features__nested-links,
.company__nested-links {
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 30px #aaaaaa;
    border-radius: 10px;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    font-weight: 400;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: none;
}

.features__nested-links.active,
.company__nested-links.active {
    -webkit-transition: all 0.2s 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
}

.features__nested-links{
    top: 80px;
    left: 100px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.company__nested-links {
    top: 80px;
    left: 280px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.features__nested-links,
.company__nested-links,
.FN__items,
.CN__items {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.FN__items,
.CN__items {
    margin-bottom: 1rem;
}

.FN__items:hover,
.CN__items:hover {
    color: var(--black);
    scale: 1.1;
    cursor: pointer;
}

.FN__items img {
    margin-right: 0.5rem;
}


.hamb__menu{
    display: none;
}




@media screen and (max-width: 500px) {

    header {
        justify-content: space-between;
        transition: none;
        z-index: 990;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }

    .nav {
        flex-direction: column;
        position: absolute;
        justify-content: flex-start;
        width: 60%;
        height: 100vh;
        padding: 1.5rem;
        margin: 0;
        z-index: 999;
        background-color: var(--almostWhite);
        top: 0;
        left: 100%;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }

    .nav.active{
        right: 0;
        left: 40%;
        border: 1px solid black;
    }


    .links {
        flex-direction: column;
        width: 100%;
        margin-top: 4rem;
    }

    .items {
        margin-bottom: 1.8rem;
        font-size: 18px;
        transition: none;
    }

    .items a:hover{
        color: none;
        scale: none;
    }


    .sign__btn {
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-top: 1rem;
    }

    .login {
        margin-right: 0;
        margin-bottom: 1rem;
        text-align: center;
    }

    .login:hover{
        scale: none;
    }

    .sign__btn button {
        width: 100%;
        text-align: center;
    }

    .hamb__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10000;
        cursor: pointer;
    }
    
    .hamb {
        background-color: var(--black);
        width: 30px;
        height: 3px;
        margin-bottom: 0.3rem;
        top: 0;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }

    .hamb.active:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamb.active:nth-child(2){
        opacity: 0.01;
    }

    .hamb.active:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

};
    
