@import url(./root.css);

/*---Reset CSS---*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

a, 
a:focus,
a:active  {
    text-decoration: none;
    color: var(--mediumGray);
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}


/*-------------------------------------------------------*/




body{
    font-family: 'Epilogue', sans-serif;
    height: 100vh;
    background-color: var(--almostWhite);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    width: 100%;
    padding: 3rem;
    border: 1px solid blue;
}

.logo{
    margin-top: 0.8rem;
    margin-right: 3rem;
    padding: 0;
}

.logo img {
    width: 90px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.logo img:hover {
    scale: 1.2;
}


nav {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    align-items: center;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}

.items{
    display: flex;
    justify-content: flex-start;
    margin-right: 3rem;
    height: 100%;
}

.items:nth-child(4) {
    margin-right: 0;
}


.items a {
    color: var(--mediumGray);
    font-weight: 500;
    line-height: 16px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.items a:hover{
    color: var(--black);
    scale: 1.1;
}

/*--inserting arrows to the links--*/
#features::after,
#company::after {
    content: url('../images/icon-arrow-down.svg');
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.items:hover::after{
    transform: rotate(180deg);
    color: var(--black);
}

.sign__btn {
    display: flex;
    align-items: center;
}


.login {
    font-size: 1rem;
    font-weight: 500;
    margin-right: 1rem;
    color: var(--mediumGray);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.login:hover {
    scale: 1.1;
    color: var(--black);
    cursor: pointer;
}


.sign__btn button {
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid var(--mediumGray);
    padding: 0.7rem;
    color: var(--mediumGray);
    font-weight: 500;
    font-size: 1rem;
    width: 104px;
    margin-bottom: 0.2rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    
}

.sign__btn button:hover {
    color: var(--almostWhite);
    border: 1px solid var(--black);
    background-color: var(--black);
    cursor: pointer;
    scale: 1.1;
}


/*--special links section--*/

.features__nested-links {
    position: absolute;
    top: 110px;
    left: 110px;
    background-color: white;
    box-shadow: 2px 2px 30px #aaaaaa;
    border-radius: 10px;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    font-weight: 400;
    display: none;
    
}

.company__nested-links {
    position: absolute;
    top: 110px;
    left: 320px;
    background-color: white;
    box-shadow: 2px 2px 18px #aaaaaa;
    border-radius: 10px;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    font-weight: 400;
    display: none;

}

.FN__items{
    margin-bottom: 1rem;
    cursor: pointer;
}

.FN__items img {
    margin-right: 0.5rem;
}

.CN__items{
    margin-bottom: 1rem;
    cursor: pointer;
}

.FN__items:hover,
.CN__items:hover {
    color: var(--black);
    scale: 1.1;
}
